@using Entities.ViewModels
@model RegisterViewModel
@{ ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Sign.cshtml"; }


<div class="card-title-sign mt-3 text-right">
    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Sign Up</h2>
</div>
<script src="~/Scripts/myscript.js"></script>
<div class="card-body">
    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
    {

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group mb-3">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-lg", name = "name", type = "text" })
                </div>
                                <div class="form-group mb-3">
                                    <label>E-mail Address</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", name = "email", type = "email" })
                                </div>
                                                <div class="form-group mb-0">
                                                    <div class="row">
                                                        <div class="col-sm-6 mb-3">
                                                            <label>Password</label>
                                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg", name = "pwd", type = "password" })
                                                        </div>
                                                        <div class="col-sm-6 mb-3">
                                                            <label>Password Confirmation</label>
                                                            @Html.TextBoxFor(model => model.Repass, new { @class = "form-control form-control-lg", name = "pwd_confirm", type = "password" })
                                                        </div>
                                                    </div>
                                                </div>

                                                                <div class="form-group mb-0" id="sirketKimligi" style="display:none;">
                                                                    <label>Şirket Kimliği</label>
                                                                    <input type="text" id="dene" class="form-control form-control-lg" />
                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-8">
                                                                                        <div class="checkbox-custom checkbox-default">
                                                                                            <input id="AgreeTerms" name="agreeterms" type="checkbox" />
                                                                                            <label for="AgreeTerms">I agree with <a href="#">terms of use</a></label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="companycheckbox">
                                                                                        <div class="checkbox-custom checkbox-default">
                                                                                            <input id="companycheck" name="companycheckbox" type="checkbox" onclick="myFunction()" />

                                                                                            <label for="AgreeTerms"> Kayıtlı Şirket </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-right">
                                                                                        <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
                                                                                    </div>
                                                                                </div>

                                                                                                <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                                                                                                    <span>or</span>
                                                                                                </span>

                                                                                     <div class="mb-1 text-center">
                                                                                    <a class="btn btn-facebook mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-facebook-f"></i></a>
                                                                                  <a class="btn btn-twitter mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-twitter"></i></a>
                                                                                     </div>

                                                                                     <p class="text-center">
                                                                                                       Already have an account?
                                                                                      @Html.ActionLink("Sign In!", "SignIn", "Home")
                                                                                    </p>}
</div>