@using Entities.ViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Sign.cshtml";
}

<div class="card-title-sign mt-3 text-right">
    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Kaydol</h2>
</div>

<div class="card-body">
    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
      
        <div class="form-group mb-3">
            <label>İsim</label>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-lg", name = "name", type = "text" })
        </div>

        <div class="form-group mb-3">
            <label>E-posta</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", name = "email", type = "email" })
        </div>

        <div class="form-group mb-0" id="sirketAdi" style="display:none;">
            <label>Şirket Adı</label>
            @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control form-control-lg", name = "companyName", type = "text" })
        </div>

        <div class="form-group mb-0">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>Şifre</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg", name = "pwd", type = "password" })
                   

                </div>
                <div class="col-sm-6 mb-3">
                    <label>Şifre Tekrar</label>
                    @Html.TextBoxFor(model => model.Repass, new { @class = "form-control form-control-lg", name = "pwd_confirm", type = "password" })
                 
                </div>
            </div>
        </div>
        <div class="form-group mb-0" id="sirketKimligi" style="display:block;">
            <label>Şirket Kimliği</label>
            @Html.TextBoxFor(model => model.CompanyId, new { @class = "form-control form-control-lg", name = "companyId", type = "text" })
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox-custom checkbox-default">
                    <input id="companycheck" name="companycheckbox" type="checkbox" />

                    <label> Kayıtlı Şirket </label>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                    <input id="AgreeTerms" name="agreeterms" type="checkbox" />
                    <label for="AgreeTerms">Kullanım şartlarını <a href="#">kabul ediyorum.</a></label>
                </div>
            </div>

            <div class="col-sm-4 text-right">
                <button type="submit" class="btn btn-primary mt-2">Kaydol</button>
            </div>
        </div>

        <hr />
   

        @*<div class="mb-1 text-center">
            <a class="btn btn-facebook mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-twitter mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-twitter"></i></a>
        </div>*@

        <p class="text-center">
           Zaten hesabınız var mı?
            @Html.ActionLink("Giriş Yap!", "SignIn", "Home")
        </p>
    }
</div>
